#map{
    width: 100%;
    height:500px;
}

#mapinfo{
    font-size: 1.2rem;
}


@media only screen and (max-width: 750px) {
    #map{
        width: 100%;
        height:300px;
    }

    #mapinfo{
        font-size: 1rem;
    }
}