<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="list-group col-md-3">
        <a href="/users/<%=user.id %>/edit"  class="list-group-item list-group-item-action">Edit Profile</a>
        <a href="/change-password/<%=user.id %>" class="list-group-item list-group-item-action active" aria-current="true">Change Password</a>
    </div>
    <div class="col-md-8 mb-2">
        <div class="card shadow">
            <img src="https://images.unsplash.com/photo-1475738198235-4b30fc20cff4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2576&q=80" alt="" class="card-img-top" style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title">Change Your Password!</h5>
                <form action="/change-password/<%=user.id %>" method="POST" class="validateForm" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="password">Current password</label>
                        <input class="form-control" type="password" id="password" name="oldPassword" required>
                    </div> 
                    <div class="mb-3">
                        <label class="form-label" for="password1">New password</label>
                        <input class="form-control" type="password" id="password1" minlength="4" name="password1" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Password must contain at least 4 character
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password2">Re-enter new password</label>
                        <input class="form-control" type="password" id="password2" name="password2" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-info btn-block">Change Pasword</button>
                </form>
            </div>
        </div>
    </div>
</div>


