<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="list-group col-md-3">
        <a href="/users/<%=user.id %>/edit" class="list-group-item list-group-item-action active" aria-current="true">Edit profile</a>
        <a href="/change-password/<%=user.id %>" class="list-group-item list-group-item-action">Change Password</a>
    </div>

    <div class="col-md-8 offset-md-1 text-center bg-light">
        <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
            <h3 class="text-center ">This part is not completed, yet..</h3>
        </div>
    </div>
</div>