<% layout('layouts/boilerplate') %>
        <div class="row">
            <div class="col-3  text-center">
                <h1>profile</h1>
                
            </div>

            <div class="col-7 offset-1 text-center">
                <h1>campgrounds</h1>

            </div>
        </div>
